@model BugEyeD.Models.Company

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-8">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Name</h5>
                <p class="card-text text-left">@Model.Description</p>
            </div>
            <div class="card-footer">
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="" class="btn btn-primary">Role Management</a>
                    <a asp-action="" class="btn btn-secondary">Invite Members</a>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img @*IMAGE SERVICE HERE*@ class="card-img-top" alt="Company Image">
        </div>
    </div>
</div>
